{% extends "home.html" %} 
{% load staticfiles %}
{% block main %}
<div class="fh5co-narrow-content">
        <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">常用软件</h2>
        <div class="row row-bottom-padded-md">
            {% for i in applist %}
            <div class="col-md-3 col-padding animate-box mianimate-box " data-animate-effect="fadeInLeft" >
                <div class="blog-entry">
                    <a href="{{ i.WANdomurl }}" target="_blank">
                        <div class="desc">
                            <h3 style="height:30px;    overflow: hidden; text-align: center;">
                                {{ i.title }}
                            </h3>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
