{% extends "home.html" %} 
{% load staticfiles %}
{% block main %}
<div class="fh5co-narrow-content">
        <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">常用软件</h2>
        <div class="row row-bottom-padded-md">
            {% for i in applist %}
            <div class="col-md-12 col-padding animate-box" data-animate-effect="fadeInLeft" >
                    <div class="blog-entry">
                        <a href="{{ i.WANdomurl }}" target="_blank" class="blog-img"><img src="/media/{{ i.imgurl }}" class="img-responsive" alt="{{ i.imgurl }}"></a>
                        <!-- <a class="blog-img"><img src="https://upload-images.jianshu.io/upload_images/13058298-5bb12807c5954b61.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a> -->
                            <div class="desc">
                                <h3><a href="{{ i.WANdomurl }}" target="_blank">{{ i.title }}</a></h3>
                                <p>{{ i.msg }}</p>
                                <a href="{{ i.PANdomurl }}" target="_blank"><p>云盘下载</p></a>
                                <a href="{{ i.WANdomurl }}" target="_blank"><p>外链下载</p></a>
                            </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
