{% extends "home.html" %} 
{% load staticfiles %}
{% block main %}
<div class="fh5co-narrow-content">
        <div class="row row-bottom-padded-md">
            
            <span class="col-md-12 col-padding animate-box " >常用</span>

            {% for i in applist %}
            {% if i.Appclass == 'do1' %}
            <div class="col-md-3 col-padding animate-box mianimate-box " data-animate-effect="fadeInLeft" >
                <div class="blog-entry">
                    <a href="{{ i.PANdomurl }}" target="_blank">
                        <div class="desc">
                            <h3 style="height:30px;    overflow: hidden; text-align: center;">
                                {{ i.title }}
                            </h3>
                        </div>
                    </a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <span class="col-md-12 col-padding animate-box " >娱乐</span>
            {% for i in applist %}
            {% if i.Appclass == 'do2' %}
            <div class="col-md-3 col-padding animate-box mianimate-box " data-animate-effect="fadeInLeft" >
                <div class="blog-entry">
                    <a href="{{ i.PANdomurl }}" target="_blank">
                        <div class="desc">
                            <h3 style="height:30px;    overflow: hidden; text-align: center;">
                                {{ i.title }}
                            </h3>
                        </div>
                    </a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <span class="col-md-12 col-padding animate-box " >其它</span>

            {% for i in applist %}
            {% if i.Appclass == 'do3' %}
            <div class="col-md-3 col-padding animate-box mianimate-box " data-animate-effect="fadeInLeft" >
                <div class="blog-entry">
                    <a href="{{ i.PANdomurl }}" target="_blank">
                        <div class="desc">
                            <h3 style="height:30px;    overflow: hidden; text-align: center;">
                                {{ i.title }}
                            </h3>
                        </div>
                    </a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
<!-- <li style="background-image: url('http://qzerp.gitee.io/community_image/img_bg_1.jpg');"> -->
