{% extends "home.html" %} 
{% load staticfiles %}

{% block main %}
<div class="fh5co-narrow-content">
        <span class="ula">社团日志1</span>
        <span class="ula">计算机硬件</span>
        <span class="ula">计算机软件</span>
        {% for i in post %}
        <div class="row row-bottom-padded-md mipadded-md">
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <img class="img-responsive" src="/media/{{ i.imgurl }}" alt="/{{ i.imgurl }}图像丢失！">
            </div>
            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                <h2 class="fh5co-heading"><a href="/postList/?id={{ i.id }}" target="_blank">{{ i.title }}</a> </h2>
                <p>创建时间{{ i.star_time }}>>{{ i.msg }}</p>
                <p>{{ i.OtherMsg }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
