{% extends "home.html" %} 
{% load staticfiles %}

{% block main %}
<nav class="navbar navbar-default mynavbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
          {% for i in TClist %}
          <li><a href="/post/?id={{ i.id }}">{{ i.title }}</a></li>
          {% endfor %}
          
        </ul>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control xform-control" placeholder="搜索">
          </div>
            <!-- <a href="">GO!</a>
            <button type="button" class="btn btn-default" aria-label="Left Align">
             <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
            </button> -->
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<div id="uptop" class="fh5co-narrow-content">
        {% for i in book_list %}
        <div class="row row-bottom-padded-md mipadded-md">
            <div class="col-md-10 animate-box" data-animate-effect="fadeInLeft">
                <h2 class="fh5co-heading myfh5co-heading"><a href="/postList/?id={{ i.id }}" target="_blank">{{ i.title }}</a> </h2>
                <p>创建时间{{ i.star_time }}>>{{ i.userID }}</p>
                <p>{{ i.OtherMsg }}</p>
            </div>
            <div class="col-md-2 animate-box" data-animate-effect="fadeInLeft">
                <a href="/postList/?id={{ i.id }}" target="_blank">
                {% if i.imgurl != "" %}
                <img class="img-responsive myimg-responsive" src="/media/{{ i.imgurl }}" alt="/{{ i.imgurl }}图像丢失！">
                {% endif %}
                </a>
            </div>
        </div>
        {% endfor %}
        <ul class="pagination" id="pager">
            {#上一页按钮开始#}
            {# 如果当前页有上一页#}
            {% if book_list.has_previous %}
                {#  当前页的上一页按钮正常使用#}
                <li class="previous"><a href="{% url 'postdata' %}?id={{ CLASSID }}&page={{ book_list.previous_page_number }}">上一页</a></li>
            {% else %}
                {# 当前页的不存在上一页时,上一页的按钮不可用#}
                <li class="previous disabled"><a href="#">上一页</a></li>
            {% endif %}
            {#上一页按钮结束#}
            {# 页码开始#}
            {% for num in paginator.page_range %}
    
                {% if num == currentPage %}
                    <li class="item active"><a href="{% url 'postdata' %}?id={{ CLASSID }}&page={{ num }}">{{ num }}</a></li>
                {% else %}
                    <li class="item"><a href="{% url 'postdata' %}?id={{ CLASSID }}&page={{ num }}">{{ num }}</a></li>
    
                {% endif %}
            {% endfor %}
  
            {#页码结束#}
            {# 下一页按钮开始#}
            {% if book_list.has_next %}
                <li class="next"><a href="{% url 'postdata' %}?id={{ CLASSID }}&page={{ book_list.next_page_number }}">下一页</a></li>
            {% else %}
                <li class="next disabled"><a href="#">下一页</a></li>
            {% endif %}
            {# 下一页按钮结束#}
        </ul>
</div>
{% endblock %}
{% block myjs %}
<script type="text/javascript" src="{% static 'js/dynamic.js' %}"></script>

{% endblock %}