{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post</title>
    <style type="text/css">　　
        p {margin-left: 0px}
        body{
            padding: 20px;
        }
        .mipadded-md{
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
        }
        .mipadded-md img{
            /* width: 700px; */
            margin-left: auto;
            margin-right: auto;
        }
    </style>　
</head>
<body>
    {% block main %}
    <div class="fh5co-narrow-content">
        <div class="row row-bottom-padded-md mipadded-md">
            {{ data|safe }}
        </div>
    </div>
    {% endblock %}
</body>
</html>