{% extends "home.html" %} 
{% load staticfiles %} 
{% block Mycss %}
<link rel="stylesheet" href="http://www.jq22.com/demo/jQueryHTML5Card20160408/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/material-cards.css' %}">
<link rel="stylesheet" href="{% static 'css/Photoreset.css' %}"> <!-- CSS reset -->
<link rel="stylesheet" href="{% static 'css/Photostyle.css' %}"> <!-- Resource style -->
<script src="{% static 'js/Photomodernizr.js' %}"></script> <!-- Modernizr -->
{% endblock %} 
{% block main %}
<div class="fh5co-narrow-content">
    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">成员</h2>
    <div class="row row-bottom-padded-md">
        <div class="row">
            <div class="htmleaf-container">
                <br>
                <section class="container">
                    <div class="row active-with-click">
                        {% for i in User_picture %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <article class="material-card {{ i.LoveColor }}">
                                <h2>
                                    <span style="display:inline;">姓名:{{ i.UserID }}</span>
                                    <span style="display:inline;">评分:{{ i.UserID.experience }}</span>
                                    <strong>
                                        <!-- <i class="fa fa-fw fa-star"></i> -->
                                        <i class="icon-heart">
                                            <!-- <span class="glyphicon glyphicon-star-empty"></span> -->
                                        </i>
                                        {{ i.motto }}
                                    </strong>
                                </h2>
                                <div class="mc-content">
                                    <div class="img-container">
                                        <img class="img-responsive" src="/{{ i.imgurl }}" alt="图片丢失：{{ i.imgurl }}">
                                    </div>
                                    <div class="mc-description">
                                            {{ i.msg }}
                                    </div>
                                </div>
                                <a class="mc-btn-action">
                                    <!-- <i class="fa fa-bars"></i> -->
                                    <i class="icon-plus"></i>

                                </a>
                                <div class="mc-footer">
                                    <h4>
                                        联系方式
                                    </h4>
                                    <a class="icon-data"></a>
                                    <a class="icon-data"></a>
                                    <a class="icon-data"></a>
                                    <a class="icon-data"></a>
                                </div>
                            </article>
                        </div>
                        {% endfor %}                        
                    </div>
                </section>
            </div>


        </div>
    </div>
</div>
	<ul class="cd-items cd-container">
        <li class="cd-item">
            <img src="{% static 'images/item-1.jpg' %}" alt="Item Preview">
            <a href="#0" class="cd-trigger">Quick View</a>
        </li> <!-- cd-item -->
	</ul>
    <div class="cd-quick-view">
            <div class="cd-slider-wrapper">
                <ul class="cd-slider">
                    <li class="selected"><img src="img/item-1.jpg" alt="Product 1"></li>
                    <li><img src="{% static 'images/item-2.jpg' %}" alt="Product 2"></li>
                    <li><img src="{% static 'images/item-3.jpg' %}" alt="Product 3"></li>
                </ul> <!-- cd-slider -->
    
                <ul class="cd-slider-navigation">
                    <li><a class="cd-next" href="#0">Prev</a></li>
                    <li><a class="cd-prev" href="#0">Next</a></li>
                </ul> <!-- cd-slider-navigation -->
            </div> <!-- cd-slider-wrapper -->
    
            <div class="cd-item-info">
                <h2>Produt Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, omnis illo iste ratione. Numquam eveniet quo, ullam itaque expedita impedit. Eveniet, asperiores amet iste repellendus similique reiciendis, maxime laborum praesentium.</p>
    
                <ul class="cd-item-action">
                    <li><button class="add-to-cart">Add to cart</button></li>					
                    <li><a href="#0">Learn more</a></li>	
                </ul> <!-- cd-item-action -->
            </div> <!-- cd-item-info -->
            <a href="#0" class="cd-close">Close</a>
        </div> <!-- cd-quick-view -->

{% endblock %} 
{% block myjs %}
<script type="text/javascript" src="{% static 'js/jquery.material-cards.min.js' %}"></script>

<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="{% static 'js/Photovelocity.min.js' %}"></script>
<script src="{% static 'js/Photomain.js' %}"></script> <!-- Resource jQuery -->

<script>
    $(function () {
        $('.material-card').materialCard({
            icon_close: 'fa-chevron-left',
            icon_open: 'fa-thumbs-o-up',
            icon_spin: 'fa-spin-fast',
            card_activator: 'click'
        });
        //        $('.active-with-click .material-card').materialCard();
        window.setTimeout(function () {
            $('.material-card:eq(1)').materialCard('open');
        }, 2000);
        $('.material-card').on('shown.material-card show.material-card hide.material-card hidden.material-card', function (event) {
            // console.log(event.type, event.namespace, $(this));
        });
    });
</script> 
{% endblock %}